<h1>Bienvenidos</h1>
<div class="btn btn-primary">
  <%= link_to 'registrate como empresa', new_user_registration_path %>
</div>

<div class="btn btn-primary">
  <%= link_to 'registrate como usuario', usuario_signup_path%>
</div>

<div class="btn btn-primary">
  <%= link_to 'si ya estas registrado ingresa', new_user_registration_path%>
</div>
